# Application Environment (e.g. development, staging, production)
app.environment=

# MySQL Database Connection
db.connection=mysql
db.driver=jdbc
db.user=
db.password=
db.host=localhost
db.port=3306
db.name=
